
/* Div que engloba todo o site */
.master{
}

/* Partição 1 */
.part1{
    height: 1200px;
    background: #4cbae6;
    background: linear-gradient(180deg, rgba(76, 186, 230, 1) 0%, rgba(232, 218, 245, 1) 100%, rgba(237, 221, 83, 1) 100%);
}

/* Divisão 1*/    

    .div1{
        height: 35%;
    }

    .div1 h1{
        color: white;
        font-size: 120px;
        text-shadow: 2px 0px 0px #2988ae;
        line-height: 0.8;
    }

    .Search{
        color: #7780FF;
        text-shadow: 2px 0px 0px white;
        text-decoration: underline;
    }

    #tt1{
        width: 55%;
        position: relative;
        left: 5%;
        top: 10%;
    }

/* Divisão 2*/

    .div2{
        width: 100%;
        height: 75%;
        display: flex;
        align-content: center;
    }

    .menu{
        height: 90%;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        gap: 50px;
    }

    .cartao{
        width: 3in;
        height: 3in;
        border-radius: 40px;
    }

        .tt-cartao{
            height: 16%;

        }

        .tt-cartao h1{
            font-size: 35px;
            color: white;
            text-align: center;
            text-shadow: 2px 0px 0px #2988ae;
        }
        
        .img-container{
            height: 84%;
            overflow: hidden;
        }

        .img-container img{
            object-fit: cover;
            width: 100%;
            height: 100%;
            border-radius: 40px;
        }

